.shineEffect {
    position: relative;
    overflow: hidden;
  }
  
  .shineEffect::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    transform: skewX(-20deg);
    transition: 0.7s;
  }
  
  .shineEffect:hover::before {
    left: 125%;
    transition: 0.7s;
  }
  